body {
    /*display: none;*/
}

#load-holder {
    width: 300px;
    height: 1080px;
}

#camera-switch, #switch-icon {
    width: 40px;
    height: 40px;
    position: fixed;
    right: 40px;
    bottom: 40px;
}

#scan {
    background-color: lightgreen;
    width: 50px;
    height: 30px;
    float: left;
}

#interactive {
    float: left;
    width: 320px;
    height: 320px;
}

#interactive.viewport, canvas, video {
    float: left;
    width: 320px;
    height: 320px;
}

#interactive.viewport, canvas.drawingBuffer, video.drawingBuffer {
    margin-left: -320px;
}

#user-icon, #name {
    float: left;
    height: 20px;
}

#name {
    text-decoration: underline;
}

#asset-title, #asset-barcode, #input-container, #confirm, #re-scan {
    margin: auto;
    text-align: center;
}

#asset-title {
    padding-top: 120px;
    font-size: xx-large;
}

#asset-barcode {
    font-size: large;
}

#input-container {
    overflow: hidden
}

#input-name, #confirm, #re-scan {
    font-size: large;
}

#input-name {
    margin: 5px;
    width: 180px;
    height: 25px;
    border: solid #cccccc 1px;
    overflow: hidden
}

#confirm, #re-scan {
    width: 186px;
    height: 30px;
    color: #ffffff;
}

#confirm {
    background: limegreen;
}

#re-scan {

    background: deeppink;
}

#ret-container {
    padding-top: 150px;
    margin: auto;
    text-align: center;
}

#ret-img {
    width: 180px;
    padding-bottom: 10px;
}

#ret-msg {
    font-size: x-large;
}

#scan-hint {
    font-size: xx-large;
}

#scan-holder {
    position: fixed;
    top: 50px;
    width: 300px;
    height: 480px;
    z-index: 999;
}